@use '../../assets/styles/variables' as *;

.searchBar {
  display: flex;
  align-items: center;
  width: 100% !important;
  max-width: none !important;
  position: relative;
  margin-bottom: 14px;
}

.searchInput {
  flex-grow: 1;
  width: 100%;
}

.searchButton {
  z-index: 2;
  width: 56px;
  min-width: 56px !important;
  height: 56px;
  background-color: $primary-color !important;
  color: white !important;
  border-radius: 56px !important;
  padding: 7px !important;
  flex-shrink: 0;

  &:hover {
    background-color: $third-color !important;
  }
}

